{% extends 'base.html.twig' %}

{% block title %}Collaborateurs{% endblock %}

{% block body %}
    {% include "partials/_navbar.html.twig" %}
    <div class="container">
    <h1>Collaborateurs</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    
        <a class="btn btn-outline-warning m-3" href="{{ path('admin_new') }}">Nouveau</a>

    <table class="table table-bordered">
        <thead>
            <tr>
            <th></th>
                <th>Email</th>
                <th>Roles</th>
                <th>Adresse</th>
                <th>Date d'embauche</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th>{{ user.lastname}} {{ user.firstname}}</th>
                <td>{{ user.email }}</td>
                <td>
                    <ul>
                    {% for role in user.roles %}
                        {% if role == "ROLE_ADMIN" %}
                            <li>Administrateur</li> 
                            {% else %}
                            <li>Collaborateur</li> 
                        {% endif %}
                    {% endfor %}
                    </ul>
                </td>
                <td>{{ user.address }} <br>
                    {{ user.postalCode }} <br>
                    {{ user.city }}
                </td>
                <td>{{ user.hireDate ? user.hireDate|date('d-m-Y') : '' }}</td>
                <td>
                    <a class="btn btn-outline-warning mb-1" href="{{ path('admin_edit', {'id': user.id}) }}">Modifier</i></a>
                    {{ include('admin/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">Aucunes données trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
