{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    {% include "partials/_navbar.html.twig" %}
    <div class="container mt-5">
    <div class="row justify-content-center">
        <h1>{{ user.lastname }} {{ user.firstname }}</h1>
        <p class="text-center">
            <img class="img-fluid m-3" src="{{ asset("uploads/avatars/" ~ user.photo) }}" alt="avatar">
        </p>
    </div>
        <div class="row mt-5">
            <div class="col-md-3 offset-md-3">
             <h5>Email</h5>
            <p>{{ user.email }}</p>
            <h5>Adresse</h5>
            <p>{{ user.address }} <br>
                {{ user.postalCode }} <br>
                {{ user.city }}</p>
            <h5>Date de naissance</h5>
            <p>{{ user.birthDate ? user.birthDate|date('d-m-Y') : '' }}</p>
            {% if user.phone %}
                <h5>Téléphone</h5>
                <p>{{ user.phone }}</p>
            {% endif %}
            
            </div>
            <div class="col-md-3">
                <h5>Roles</h5>
                <ul>
                {% for role in user.roles %}
                    {% if role == "ROLE_ADMIN" %}
                        <li>Administrateur</li> 
                        {% else %}
                        <li>Collaborateur</li> 
                    {% endif %}
                {% endfor %}
                </ul>
            <h5>Date d'embauche</h5>
            <p>{{ user.hireDate ? user.hireDate|date('d-m-Y') : '' }}</p>
            </div>
        </div>

           
            <div class="text-center">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-secondary" href="{{ path('user_index') }}">Retour</a>
            {% endif %}
                <a class="btn btn-outline-warning" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
            </div>    

    </div>
{% endblock %}
